@import '@fontsource/roboto-condensed/400.css';
@import '@fontsource/roboto-condensed/400-italic.css';
@import '@fontsource/vollkorn/400.css';
@import '@fontsource/vollkorn/400-italic.css';
@import '@fontsource/vollkorn/700.css';

:root {
  --base-font-size: 18px;
  --base-line-height: 1.6666667;
  --rhythm: 30px;
}

html {
  font-size: var(--base-font-size);
  line-height: var(--base-line-height);
  font-family: 'Vollkorn', Georgia, serif;
  color: hsla(0, 0%, 0%, 0.8);
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  background-color: #f9c48b;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  color: hsla(0, 0%, 0%, 1);
  margin-top: 0;
}

h1 {
  font-size: 2.25rem;
  line-height: 1.2;
  margin-bottom: var(--rhythm);
}

h2 {
  font-size: 1.618rem;
  line-height: 1.3;
  margin-bottom: calc(var(--rhythm) / 2);
}

h3 {
  font-size: 1.21225rem;
  line-height: 1.4;
  margin-bottom: calc(var(--rhythm) / 2);
}

h5,
h6 {
  text-transform: uppercase;
  font-style: italic;
}

p {
  margin: 0 0 var(--rhythm);
}

ul,
ol {
  margin: 0 0 var(--rhythm);
}

ul {
  list-style: disc;
}

blockquote {
  font-size: 1.1rem;
  color: rgba(0, 0, 0, 1);
  font-style: italic;
  padding-left: calc(var(--rhythm) * 13 / 16);
  margin-left: 0;
  border-left: calc(var(--rhythm) * 3 / 16) solid rgba(0, 0, 0, 0.2);
}

blockquote > :last-child {
  margin-bottom: 0;
}

img,
video,
iframe {
  max-width: 100%;
  height: auto;
}

img {
  display: block;
}

main img {
  margin: var(--rhythm) auto;
}

pre,
code,
kbd,
samp {
  font-family:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;
}

pre,
pre.astro-code {
  font-size: 1em;
  line-height: var(--base-line-height);
  overflow-x: auto;
  padding: 0.8333333rem;
  border-radius: 0.25rem;
}

hr {
  width: 8rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

p a,
h1 a,
h2 a,
ul a,
ol a,
.nav a {
  color: black;
  text-decoration: underline;
}

p a:hover,
h1 a:hover,
h2 a:hover,
ul a:hover,
ol a:hover,
.nav a:hover {
  color: white;
}

.post-meta {
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
}

.nav,
p.post-meta {
  font-family:
    'Roboto Condensed',
    system-ui,
    -apple-system,
    Segoe UI,
    Roboto,
    Arial,
    sans-serif;
  text-transform: uppercase;
}

.nav a {
  text-decoration: none;
}

/* Footnotes */
div.footnotes {
  margin-top: 4rem;
}

div.footnotes hr {
  display: none;
}

div.footnotes p:last-of-type {
  margin-bottom: 0;
}

@media (max-width: 480px) {
  ul,
  ol {
    margin-left: var(--rhythm);
  }

  blockquote {
    margin-left: calc(var(--rhythm) * -3 / 4);
    margin-right: 0;
    padding-left: calc(var(--rhythm) * 9 / 16);
  }
}
