body {
    background-color: #F9C48B;
}

hr {
    width: 8rem
}

/* Footnotes */

div.footnotes {
    margin-top: 4rem
}

div.footnotes hr {
    display: none
}

div.footnotes p:last-of-type {
    margin-bottom: 0;
}