---
type Props = {
  title: string
  slug: string
  passthroughUrl?: string
}

const { title, slug, passthroughUrl } = Astro.props
const href = passthroughUrl ?? `/blog/${slug}`
---

<a href={href}>
  {title}
  {passthroughUrl ? ' →' : null}
</a>

